aiohttp==3.8.1
aiosignal==1.2.0
alembic==1.17.2
appdirs==1.4.4
apturl==0.5.2
argcomplete==1.8.1
asn1crypto==1.4.0
async-timeout==4.0.1
attrs==25.4.0
Babel==2.8.0
bcrypt==3.2.0
beautifulsoup4==4.12.3
blinker==1.9.0
Brlapi==0.8.3
bs4==0.0.2
certifi==2025.11.12
chardet==4.0.0
charset-normalizer==2.0.6
click==8.3.0
colorama==0.4.4
command-not-found==0.3
contourpy==1.3.2
cryptography==3.4.8
cssselect==1.2.0
cupshelpers==1.0
cycler==0.12.1
dbus-python==1.2.18
defer==1.0.6
distro==1.7.0
distro-info==1.1+ubuntu0.2
dotenv==0.9.9
duplicity==0.8.21
exceptiongroup==1.3.0
fake-useragent==1.5.1
fasteners==0.14.1
Flask==3.1.2
Flask-Bcrypt==1.0.1
flask-cors==6.0.1
Flask-JWT-Extended==4.7.1
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
fonttools==4.59.2
frozenlist==1.2.0
future==0.18.2
gattlib==0.20201113
greenlet==1.1.2
gunicorn==23.0.0
gyp==0.1
h11==0.16.0
html5lib==1.1
httplib2==0.20.2
idna==3.3
importlib-metadata==4.6.4
itsdangerous==2.2.0
jeepney==0.7.1
Jinja2==3.1.6
keyring==23.5.0
kiwisolver==1.4.9
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lockfile==0.12.2
louis==3.20.0
lxml==5.2.1
lxml_html_clean==0.1.1
macaroonbakery==1.3.1
Mako==1.1.3
MarkupSafe==3.0.3
matplotlib==3.10.6
mechanize==0.4.7
meson==0.61.2
monotonic==1.6
more-itertools==8.10.0
msgpack==1.0.3
multidict==5.1.0
natsort==8.0.2
netifaces==0.11.0
numpy==2.2.6
oauthlib==3.2.0
olefile==0.46
outcome==1.3.0.post0
packaging==21.3
pandas==2.3.2
paramiko==2.9.3
parse==1.20.1
pexpect==4.8.0
Pillow==9.0.1
protobuf==3.12.4
proton-core==0.4.0
proton-keyring-linux==0.2.0
proton-keyring-linux-secretservice==0.1.0
proton-vpn-api-core==0.42.2
proton-vpn-gtk-app==4.9.3
proton-vpn-killswitch-network-manager==0.6.1
proton-vpn-killswitch-network-manager-wireguard==0.2.1
proton-vpn-logger==0.2.1
proton-vpn-network-manager==0.12.10
proton-vpn-network-manager-openvpn==0.1.1
proton-vpn-network-manager-wireguard==0.4.7
psycopg2-binary==2.9.11
ptyprocess==0.7.0
PyBluez==0.23
pycairo==1.20.1
pycryptodomex==3.11.0
pycups==2.0.1
pyee==11.1.0
PyGObject==3.42.1
PyJWT==2.3.0
pymacaroons==0.13.0
PyNaCl==1.5.0
pynvim==0.4.2
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyppeteer==2.0.0
pyquery==2.0.0
pyRFC3339==1.1
PySocks==1.7.1
python-apt==2.4.0+ubuntu4
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-dotenv==1.2.1
python-gnupg==0.4.8
pytz==2022.1
pyxdg==0.27
PyYAML==5.4.1
reportlab==3.6.8
requests==2.25.1
requests-html==0.10.0
scipy==1.15.3
sdkmanager==0.5.1
SecretStorage==3.3.1
selenium==4.38.0
sentry-sdk==1.4.3
simplejson==3.17.6
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==2.0.44
systemd-python==234
tabulate==0.8.9
tomli==2.3.0
tqdm==4.66.2
trio==0.32.0
trio-websocket==0.12.2
typing_extensions==4.15.0
tzdata==2025.2
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36.1
unattended-upgrades==0.1
urllib3==2.5.0
usb-creator==0.3.7
vboxapi==1.0
w3lib==2.1.2
wadllib==1.3.6
webencodings==0.5.1
websocket-client==1.9.0
websockets==10.4
Werkzeug==3.1.3
wsproto==1.3.1
wxPython==4.0.7
xdg==5
xkit==0.0.0
yarl==1.7.2
zim==0.74.3
zipp==1.0.0
